@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap);

.content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw0aXpsog.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.hidden {
    display: none;
}

.seat {
    float: left;
    width: 25px;
    height: 25px;
    border: 1px solid #0d6efd;
    border-radius: 15%;
    background-color: white;
    margin: 5px;
}

.seat:hover {
    cursor: default;
}

.seat-unavailable {
    width: 25px;
    height: 25px;
    border: 1px solid #ffffff;
    border-radius: 15%;
    background-color: #EAECEE;
}

.custom-list {
    display: flex;
    list-style-type: none;
    margin: 1px;
}

.numbers-list {
    display: flex;
    list-style-type: none;
    margin: 7px;
}
